<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: #B9DFEE">
    {% extends 'index.html' %} {% block content %}
    <div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top p-2">
        <a class="navbar-brand" href="#">Welcome, {{user.username}}</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        
          <ul class="navbar-nav ml-auto ms-auto flex-row">
            <li class="nav-item" >
              <a class="nav-link" href="{% url 'logout'%}" onclick="logout()"
                >Logout</a
              >
        
          </ul>
          
      </nav>
    </div>

        <div class="d-flex align-items-start mt-3 p-2" style="border-radius:50px">
          <div
            class="nav flex-column nav-pills me-3"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical"
          ><div class="shadow-lg p-3 mb-5 bg-white rounded ">
            <a
              class="nav-link active"
              id="v-pills-companies-tab"
              data-bs-toggle="pill"
              href="#v-pills-companies"
              role="tab"
              >Companies</a
            >
            <!-- <a
              class="nav-link"
              id="v-pills-profile-tab"
              data-bs-toggle="pill"
              href="#v-pills-profile"
              role="tab"
              aria-controls="v-pills-profile"
              aria-selected="false"
              >Bottom 20 Companies</a
            > -->
            <a
              class="nav-link"
              id="v-pills-remote-tab"
              data-bs-toggle="pill"
              href="#v-pills-remote"
              role="tab"
              >Remote work</a
            >
            <a
              class="nav-link"
              id="v-pills-wordcloud-tab"
              data-bs-toggle="pill"
              href="#v-pills-wordcloud"
              role="tab"
              >Wordcloud</a
            >
            <a
              class="nav-link"
              id="v-pills-location-tab"
              data-bs-toggle="pill"
              href="#v-pills-location"
              role="tab"
              >Location</a
            >
            
            <a
              class="nav-link"
              id="v-pills-salary-tab"
              data-bs-toggle="pill"
              href="#v-pills-salary"
              role="tab"
              >Salary</a
            >
            <a
              class="nav-link"
              id="v-pills-skills-tab"
              data-bs-toggle="pill"
              href="#v-pills-skills"
              role="tab"
              >Skills</a
            >
            <!-- <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            > -->
            
            
            
           
          </div>
          </div>
          <main class="container-fluid col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2 ">Demand of Data Science in Malaysia Dashboard</h1>
            </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-companies"
              role="tabpanel">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                  <div id="chart0" class="container mt-2">
                    {{chart0|safe}}
                    <p align="justify">Based on the graph, it appears that Air Asia has the most job openings for data science-related positions, with a total of 85 job postings. This is followed by other companies, such as Ambition Group Malaysia, CIMB, and Vision Technology, which also have a significant number of job openings in this field. There are also several job agencies and other companies that are hiring for data science positions, such as Klkoleo, Infineon, Deloitte, Flex, Experian, and Western Digital. It seems that these top 20 companies are actively hiring for data science positions, indicating a high demand for data science skills in the job market.</p>
                  </div>
                </div>
              </div>
          </div>
            

            <!-- REMOTE -->
            <div
              class="tab-pane fade"
              id="v-pills-remote"
              role="tabpanel">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <div id="chart3" class="container mt-2">
                  {{chart3a|safe}}
                  <p>Based on the data, it appears that the majority of job postings in Kuala Lumpur, Johor Bahru, Petaling Jaya, and Cyberjaya require onsite work. In particular, there are 1345 job postings in Kuala Lumpur that require onsite work, compared to 98 job postings that offer the option of remote work. This suggests that the demand for data science professionals who are willing to work onsite is higher in these locations compared to those who are able to work remotely.</p>
                </div>
               </div>
              </div>
          </div>
          
            <!-- WORDCLOUD -->
            <div
              class="tab-pane fade"
              id="v-pills-wordcloud"
              role="tabpanel"
            >
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <div id="chart3" class="container mt-2">
                  {% load static %}
                  <p style = "text-align:center; font-size: 22px; font-family:sans-serif">What Companies are Looking for in Data Scientists: A Word Cloud Analysis</p>
            <img src="{% static '/wordcloud.png' %}" alt="My image" height="550" width="800" style="display: block; margin: 0 auto;">
                  <p>Based on this wordcloud, it appears that companies value experience and system knowledge highly in potential hires for data science positions. Support and data science skills are also important. Analytics, business knowledge, communication skills, machine learning, problem solving, technical skills, teamwork, and leadership are also valued, but to a lesser extent. </p>
                </div>
               </div>
            </div>
          </div>
        
          <!-- location -->
          <div
              class="tab-pane fade"
              id="v-pills-location"
              role="tabpanel"
              aria-labelledby="v-pills-location-tab"
            >
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <div id="chart3" class="container mt-2">
                  {{chart5|safe}}
                  <p>According to the bubble map, the Klang Valley has the highest concentration of demand for data scientists, followed by the states of Penang and Johor.</p>
                </div>
               </div>
            </div>
          </div>
          <!-- salary -->
          <div
              class="tab-pane fade"
              id="v-pills-salary"
              role="tabpanel"
              aria-labelledby="v-pills-salary-tab"
            >
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <div id="chart3" class="container mt-2">
                  {{chart4|safe}}
                  <p>The Developer Kaki Survey included 80 salary data points. The average salary, which is calculated to be RM 20,562, may be skewed due to the small sample size and presence of outliers. To better understand the typical salary without the influence of outliers, we can look at the median salary, which is RM 5,075. The salary range for this data set ranges from RM 1,600 to RM 12,500, but it is possible to earn higher salaries with more experience and skills. </p>
                </div>
               </div>
            </div>
          </div>

          <!-- #tOP 10 SKILLS -->
          <div
              class="tab-pane fade"
              id="v-pills-skills"
              role="tabpanel"
              aria-labelledby="v-pills-salary-tab"
            >
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <div id="chart2" class="container mt-2">
                  {{chart2|safe}}
                  <p>Excel remains a highly sought-after skill in the job market, even as new technologies emerge. This may be because many companies, particularly small and medium-sized enterprises, still rely on Excel for data management. SQL is also a crucial skill, particularly for the extraction, transformation, and loading (ETL) process. In addition to these skills, there are various tools and knowledge that are commonly required for data science roles at companies.</p>
                </div>
               </div>
            </div>
          </div>


        </div>
      </div>

        
        
          
        </main>
       
      </div>
    </div>
    
  <script>function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
    }
});</script>
    {% endblock %}
  </body>
</html>
