<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: #f9f9f9">
    {% extends 'index.html' %} {% block content %}
    <div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top p-2">
        <a class="navbar-brand" href="#">Welcome, {{user.username}}</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        
          <ul class="navbar-nav ml-auto ms-auto flex-row">
            <li class="nav-item" >
              <a class="nav-link" href="{% url 'logout'%}" onclick="logout()"
                >Logout</a
              >
        
          </ul>
          
      </nav>
    </div>

        <div class="d-flex align-items-start mt-3 p-2">
          <div
            class="nav flex-column nav-pills me-3"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical"
          ><div class="shadow-lg p-3 mb-5 bg-white rounded ">
            <a
              class="nav-link active"
              id="v-pills-home-tab"
              data-bs-toggle="pill"
              href="#v-pills-home"
              role="tab"
              aria-controls="v-pills-home"
              aria-selected="true"
              >Top 10 Companies</a
            >
            <a
              class="nav-link"
              id="v-pills-profile-tab"
              data-bs-toggle="pill"
              href="#v-pills-profile"
              role="tab"
              aria-controls="v-pills-profile"
              aria-selected="false"
              >Bottom 20 Companies</a
            >
            <a
              class="nav-link"
              id="v-pills-messages-tab"
              data-bs-toggle="pill"
              href="#v-pills-messages"
              role="tab"
              aria-controls="v-pills-messages"
              aria-selected="false"
              >Remote work</a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >Skills</a
            >
            <a
              class="nav-link"
              id="v-pills-location-tab"
              data-bs-toggle="pill"
              href="#v-pills-location"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >Location</a
            >
            
            <a
              class="nav-link"
              id="v-pills-salary-tab"
              data-bs-toggle="pill"
              href="#v-pills-salary"
              role="tab"
              aria-controls="v-pills-salary"
              aria-selected="false"
              >Salary</a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ></a
            >
            <a
            class="nav-link"
            id="v-pills-settings-tab"
            data-bs-toggle="pill"
            href="#v-pills-settings"
            role="tab"
            aria-controls="v-pills-settings"
            aria-selected="false"
            ></a
          >
          </div>
          </div>
          <main class="container-fluid col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
            >
              <h1 class="h2 ">Demand of Data Science in Malaysia Dashboard</h1>
            </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-home"
              role="tabpanel"
              aria-labelledby="v-pills-home-tab"
            >
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                  <div id="chart0" class="container mt-2">
                    {{chart0|safe}}
                    <p>Based on the graph, it appears that Air Asia has the most job openings for data science-related positions, with a total of 85 job postings. This is followed by other companies, such as Ambition Group Malaysia, CIMB, and Vision Technology, which also have a significant number of job openings in this field. There are also several job agencies and other companies that are hiring for data science positions, such as Klkoleo, Infineon, Deloitte, Flex, Experian, and Western Digital. It seems that these top 20 companies are actively hiring for data science positions, indicating a high demand for data science skills in the job market.</p>
                  </div>
                 </div>
            </div>
              </div>

            <div
              class="tab-pane fade"
              id="v-pills-profile"
              role="tabpanel"
              aria-labelledby="v-pills-profile-tab"
            >
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                  <div id="chart1" class="container mt-2">
                    {{chart1|safe}}
                    <p>Based on the graph, it appears that the bottom 20 companies have relatively few job openings for data science-related positions. The number of job openings in these companies is in the range of 2, with some companies having even fewer job openings. These companies include Yongpeng Solutions, Edwards Lifesciences, Temasek Allied Engineering, Hach Malaysia, Onboard Technologies, George Fischer, Farm Apps, and Datapel Asia. It seems that these companies have a lower demand for data science skills compared to the top 20 companies.</p>
                  </div>
                 </div>
                </div>
            </div>

            <div
              class="tab-pane fade"
              id="v-pills-messages"
              role="tabpanel"
              aria-labelledby="v-pills-messages-tab"
            >
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <div id="chart3" class="container mt-2">
                  {{chart3a|safe}}
                  <p>Based on the data, it appears that the majority of job postings in Kuala Lumpur, Johor Bahru, Petaling Jaya, and Cyberjaya require onsite work. In particular, there are 1345 job postings in Kuala Lumpur that require onsite work, compared to 98 job postings that offer the option of remote work. This suggests that the demand for data science professionals who are willing to work onsite is higher in these locations compared to those who are able to work remotely.</p>
                </div>
               </div>
              </div>
          </div>

            <div
              class="tab-pane fade"
              id="v-pills-settings"
              role="tabpanel"
              aria-labelledby="v-pills-settings-tab"
            >

            
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <div id="chart3" class="container mt-2">
                  {% load static %}
            <img src="{% static '/wordcloud.png' %}" alt="My image" height="600", width="1000">
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id
                      ducimus veniam optio porro impedit amet odio aliquam officia non
                      nobis quisquam soluta repudiandae, earum nulla. </p>
                </div>
               </div>
          
            </div>
          </div>

          <div
              class="tab-pane fade"
              id="v-pills-location"
              role="tabpanel"
              aria-labelledby="v-pills-location-tab"
            >

            <!-- {% load static %}
            <img src="{% static '/images/cat.jpg' %}" alt="My image"> -->
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <div id="chart3" class="container mt-2">
                  {{chart3b|safe}}
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id
                      ducimus veniam optio porro impedit amet odio aliquam officia non
                      nobis quisquam soluta repudiandae, earum nulla. </p>
                </div>
               </div>
          
            </div>
          </div>

          <div
              class="tab-pane fade"
              id="v-pills-salary"
              role="tabpanel"
              aria-labelledby="v-pills-salary-tab"
            >

            <!-- {% load static %}
            <img src="{% static '/images/cat.jpg' %}" alt="My image"> -->
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <div id="chart3" class="container mt-2">
                  {{chart3b|safe}}
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id
                      ducimus veniam optio porro impedit amet odio aliquam officia non
                      nobis quisquam soluta repudiandae, earum nulla. </p>
                </div>
               </div>
          
            </div>
          </div>


        </div>

        
        
          
        </main>
       
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Chart 1
        var ctx1 = document.getElementById("myChart1").getContext("2d");
        var myChart1 = new Chart(ctx1, {
          type: "bar",
          data: {
            labels: [
              "Jan",
              "Feb",
              "Mar",
              "Apr",
              "May",
              "Jun",
              "Jul",
              "Aug",
              "Sep",
              "Oct",
              "Nov",
              "Dec",
            ],
            datasets: [
              {
                label: "Data",
                data: [12, 19, 3, 5, 2, 3, 20, 33, 23, 14, 25, 10],
                backgroundColor: [
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)",
                  "rgba(75, 192, 192, 0.2)",
                  "rgba(153, 102, 255, 0.2)",
                  "rgba(255, 159, 64, 0.2)",
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)",
                  "rgba(75, 192, 192, 0.2)",
                  "rgba(153, 102, 255, 0.2)",
                  "rgba(255, 159, 64, 0.2)",
                ],
                borderColor: [
                  "rgba(255, 99, 132, 1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)",
                  "rgba(153, 102, 255, 1)",
                  "rgba(255, 159, 64, 1)",
                  "rgba(255, 99, 132, 1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)",
                  "rgba(153, 102, 255, 1)",
                  "rgba(255, 159, 64, 1)",
                ],
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                  },
                },
              ],
            },
          },
        });
  
        //chart2
        var ctx2 = document.getElementById("myChart2").getContext("2d");
        var myChart2 = new Chart(ctx2, {
          type: "bar",
          data: {
            labels: [
              "Jan",
              "Feb",
              "Mar",
              "Apr",
              "May",
              "Jun",
              "Jul",
              "Aug",
              "Sep",
              "Oct",
              "Nov",
              "Dec",
            ],
            datasets: [
              {
                label: "Data",
                data: [12, 19, 3, 5, 2, 3, 20, 33, 23, 14, 25, 10],
                backgroundColor: [
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)",
                  "rgba(75, 192, 192, 0.2)",
                  "rgba(153, 102, 255, 0.2)",
                  "rgba(255, 159, 64, 0.2)",
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)",
                  "rgba(75, 192, 192, 0.2)",
                  "rgba(153, 102, 255, 0.2)",
                  "rgba(255, 159, 64, 0.2)",
                ],
                borderColor: [
                  "rgba(255, 99, 132, 1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)",
                  "rgba(153, 102, 255, 1)",
                  "rgba(255, 159, 64, 1)",
                  "rgba(255, 99, 132, 1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)",
                  "rgba(153, 102, 255, 1)",
                  "rgba(255, 159, 64, 1)",
                ],
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                  },
                },
              ],
            },
          },
        });
      </script>
  
    {% endblock %}
  </body>
</html>
